*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f1e3;
}
.container{
    background-color: #dddbcb;
    /* background-color: white; */
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    min-width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form select,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    width: 96%;
    font-size: 1rem;
    height: 3rem;
    padding-left: 1rem;
    border: 1px solid lightgray;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1rem;
    margin-top: 1.5rem;
}
.select-container img{
    max-width: 3rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    background-color: white;
    border-radius: 0.5rem;
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg{
    margin: 2rem 0 2rem 0;
    text-align: center;
}
form button{
    height: 3rem;
    font-size: 1rem;
    background-color: #313638;
    color: white;
    cursor: pointer;
}