*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #f5f1e3;
}
.navbar{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: #313638;
    padding: 12px 0px;
    position: relative;
}
@media(max-width: 400px){
    .navbar{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        margin-top: 15px;
        margin-left: 10px;
        font-size: 0.8rem;
    }
    .logo{
        margin-left: 30px;
    }
    .logo p{
        font-size: 1rem;
    }
    .logo img{
        height: 28px;
    }
    .container{

    }
    .form input{
        width: 20vh;
    }
}
.logo{
    /* position: absolute;
    left: 20px;
    top: 10.5px; */
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
}
.logo p{
    margin-left: 5px;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 450px;
    /* max-width: 50vh; */
    /* width: 50vh; */
}
.navbar ul li{
    list-style: none;
    margin-right: 100px;
}
.navbar a{
    /* font-family: 'Noto Sans', sans-serif; */
    text-decoration: none;
    color: white;
    /* margin-right: 7rem; */
    font-weight: 500;
    transition: 0.3s;
}
.navbar a:hover{
    background-color: white;
    color: black;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
}
.outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    background-color: #dddbcb;
    padding: 2rem;
    border-radius: 1rem;
    min-width: 40vh;
    min-height: 43vh;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.3);
}
form{
    margin: 2rem 0 1rem 0;
}
form select,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    width: 96%;
    font-size: 1rem;
    height: 3rem;
    padding-left: 1rem;
    border: 1px solid lightgray;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1rem;
    margin-top: 1.5rem;
}
.select-container img{
    max-width: 3rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.3rem;
    background-color: white;
    border-radius: 0.5rem;
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg{
    font-weight: 500;
    font-size: 1.2rem;
    margin: 2rem 0 2rem 0;
    text-align: center;
}
form button{
    height: 3rem;
    font-size: 1rem;
    background-color: #313638;
    color: white;
    cursor: pointer;
}
footer{
    text-align: center;
}